<!DOCTYPE html>
<html>
  <head>
    <title>Knex Relationship Stories</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>  
      <br>
      <a href="/addUser">Admin add user</a>
    </nav>
    {{{body}}}
  </body>
</html>