<form method="POST">
    <label for="">Name:
        <input type="text" name="name" required>
    </label>
    <label for="">Email:
        <input type="text" name="email" required>
    </label>
    <label for="">Interests:
        <input type="text" name="interests">
    </label>
    <input type="hidden" name="personal_URL" value="google.com">
    <input type="hidden" name="image" value="https://picsum.photos/200/300">
    <input type="submit" value="Add">
</form>