<form method="POST">
  <label>enter url</label>
  <input type="text" name="url">
  <label>enter image path</label>
  <input type="text" name="image">
  <label>enter pet-peeve</label>
  <input type="text" name="pet_peeve">
  <input type="submit">
</form>