<form class="form" action="/addProfile" method="post">
  <label for="name" class="form-item">
    username:
    <input type="text" name="username" >
  </label>
    <label for="name" class="form-item">
    Name:
    <input type="text" name="name" >
  </label>
    <label for="url" class="form-item">
    URL:
    <input type="text" name="url" >
  </label>
    <label for="profilePic" class="form-item">
    profilePic:
    <input type="text" name="profilePic" >
  </label>
  {{!-- <label for="url" class="form-item">
    url:
    <input type="text" name="url" >
  </label>   --}}
  <label for="email" class="form-item">
    Email:
    <input type="text" name="email" >
  </label> 
  <input type="submit" name="" value="Submit">
</form>