<form method='post' action='/addUser'>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email">
  <br>
  <label for="url">URL:</label><br>
  <input type="text" id="url" name="url"><br>
  <br>
  <label for="vegetable">Vegetable:</label><br>
  <input type="text" id="vegetable" name="vegetable">
  <br>
  <input type="submit" value="Submit">
</form>